.login-form {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: auto;
    margin: 0 auto;
    background-color: #FFFFFF;
}

.login-btn{
    background-color: #7C3AED;
}

.forgot-password {
    color: #7C3AED;
    text-decoration: none;
    font-size: 0.9em;
    margin-top: 10px;
    align-self: flex-end;
}